.section1 {
    margin-top: 40px;
    .img-section1 {
        position: relative;
        &:after {
            content: url(/tablet/assets/img/japonese.png);
            position: absolute;
            bottom: -5%;
            left: 0;

            max-width: 768px;
            overflow: hidden;
        }
    }

    .details {
        margin: 40px 20px;
        overflow-x: auto;
        width: 768px;
        display: flex;
        white-space: nowrap;
        .characteristic {
            margin-top: 40px;
            display: flex;
            text-transform: uppercase;
            align-items: center;
            margin-right: 40px;
            h4 {
                text-align: center;
                writing-mode: vertical-rl;
                margin-right: 20px;
                transform: rotate(180deg);
                color: grey;
                font-family: $montserrat1;
                font-size: 18px;
            }
            .characteristic-principal {
                h5 {
                    font-family: $montserrat1;
                    font-size: 12px;
                }
                h3 {
                    margin: 10px 0;
                    font-family: $durkwide;
                    font-size: 32px;
                }
                p {
                    font-family: $montserrat1;
                    font-size: 12px;
                }
            }
        }
    }
    .section1-description {
        max-width: 768px;
        display: grid;
        grid-template-columns: 50% 50% 20px;
        p {
            line-height: 20px;
            font-family: $montserrat2;
            font-size: 12px;
        }
    }
}
