@font-face {
  font-family: "durkwide-medium";
  src: url(/assets/fonts/DrukWide-Medium-Trial.otf);
}
@font-face {
  font-family: "montserrat-regular";
  src: url(/assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "montserrat-light";
  src: url(/assets/fonts/Montserrat-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  background: red;
  max-width: 768px;
  color: white;
  margin: 0 auto;
  overflow-x: hidden;
}
body li {
  list-style: none;
}

.hero-container .logo {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  max-width: 768px;
}
.hero-container .logo img {
  margin: 0 62px;
  display: flex;
  justify-content: center;
}
.hero-container .img-hero {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
}
.hero-container .img-hero:after {
  content: url(/tablet/assets/img/MONTBLANC\ MOTORCYCLE-circle\ logo.png);
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  max-width: 768px;
  overflow: hidden;
  -webkit-animation: logoCircle 10s linear infinite;
          animation: logoCircle 10s linear infinite;
}
.hero-container .img-hero img {
  margin: 0 auto;
}
.hero-container .hero-description {
  max-width: 768px;
  margin: 20px 62px;
}
.hero-container .hero-description p {
  line-height: 20px;
  font-family: montserrat-light, sans-serif;
  font-size: 12px;
}
.hero-container nav {
  max-width: 768px;
  margin: 20px 62px;
  padding-top: 40px;
  border-top: 1px solid #fff;
}
.hero-container nav ul {
  display: flex;
  justify-content: space-between;
}
.hero-container nav ul li {
  font-size: 14px;
  font-family: montserrat-regular, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

@-webkit-keyframes logoCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes logoCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section1 {
  margin-top: 40px;
}
.section1 .img-section1 {
  position: relative;
}
.section1 .img-section1 img {
  max-width: 768px;
}
.section1 .img-section1:after {
  content: url(/tablet/assets/img/japonese.png);
  position: absolute;
  bottom: -5%;
  left: 0;
  max-width: 768px;
  overflow: hidden;
}
.section1 .details {
  margin: 40px 20px;
  overflow-x: auto;
  width: 768px;
  display: flex;
  white-space: nowrap;
}
.section1 .details .characteristic {
  margin-top: 40px;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  margin-right: 40px;
}
.section1 .details .characteristic h4 {
  text-align: center;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  margin-right: 20px;
  transform: rotate(180deg);
  color: grey;
  font-family: montserrat-regular, sans-serif;
  font-size: 18px;
}
.section1 .details .characteristic .characteristic-principal h5 {
  font-family: montserrat-regular, sans-serif;
  font-size: 12px;
}
.section1 .details .characteristic .characteristic-principal h3 {
  margin: 10px 0;
  font-family: durkwide-medium, sans-serif;
  font-size: 32px;
}
.section1 .details .characteristic .characteristic-principal p {
  font-family: montserrat-regular, sans-serif;
  font-size: 12px;
}
.section1 .section1-description {
  max-width: 768px;
  display: grid;
  grid-template-columns: 50% 50% 20px;
}
.section1 .section1-description p {
  line-height: 20px;
  font-family: montserrat-light, sans-serif;
  font-size: 12px;
}/*# sourceMappingURL=index.css.map */